/*======================================================================================================
===================================   max-width: 1024px   ==============================================
======================================================================================================*/

@media (max-width: 1024px) {
	.header {
		&__content {
			&-image {
				img {
					margin-right: 0;
					width: 100%;
				}
			}
		}
	}

	.about {
		&__image {
			display: none;
		}
		&__inner {
			padding: 0;
		}
	}
}

/*======================================================================================================
===================================   max-width: 760px   ==============================================
======================================================================================================*/

@media (max-width: 760px) {
	.header {
		&__content {
			&-title {
				font-size: 24px;
				margin-bottom: 25px;
			}
			&-text {
				max-width: 350px;
			}
			&-image {
				width: 200px;
			}
		}
	}

	.slider {
		&__item {
			&-title {
				font-size: 24px;
			}
			&-subtitle {
				margin: 0 auto 40px;
			}
		}
	}

	.price {
		&__item {
			margin: 0 7px;
		}
	}

	.contact {
		&__form {
			&-inner {
				flex-wrap: wrap;
				justify-content: center;
			}
			&-name,
			&-text {
				max-width: 400px;
			}
			&-name {
				margin-bottom: 30px;
			}
			button {
				display: block;
				margin: 0 auto;
			}
		}
	}
}

/*======================================================================================================
===================================   max-width: 650px   ==============================================
======================================================================================================*/

@media (max-width: 650px) {
	.about {
		&__inner {
			flex-wrap: wrap;
		}
		&__content {
			max-width: 100%;
			&-title {
				text-align: center;
				font-size: 24px;
			}
		}
		&__social {
			max-width: 100%;
			text-align: center;
			a {
				& + a {
					margin-left: 30px;
				}
			}
		}
	}
}

/*======================================================================================================
===================================   max-width: 550px   ==============================================
======================================================================================================*/

@media (max-width: 550px) {
	.header {
		&__top {
			margin-bottom: 80px;
		}
		&__content {
			width: 100%;
			text-align: center;
			&-image {
				display: none;
			}
			&-text {
				max-width: 100%;
			}
		}
	}

	.slick {
		&-arrow {
			display: none;
		}
	}

	.slider {
		&__item {
			padding: 0;
			text-align: center;
		}
	}
	.footer {
		&__text {
			display: none;
		}
	}
}

/*======================================================================================================
===================================   max-width: 500px   ==============================================
======================================================================================================*/

@media (max-width: 500px) {
	.price {
		padding: 40px 0;
		&__inner {
			flex-wrap: wrap;
		}
		&__title {
			font-size: 20px;
		}
		&__item {
			max-width: 350px;
			width: 100%;
			& + .price__item {
				margin-top: 40px;
			}
			&-list {
				margin-bottom: 0 !important;
			}
		}
	}
}

/*======================================================================================================
===================================   max-width: 450px   ==============================================
======================================================================================================*/

@media (max-width: 450px) {
	.header {
		&__login {
			&-description {
				display: none;
			}
		}
	}

	.slider {
		padding: 40px 0 0;
		&__item {
			&-title {
				font-size: 20px;
			}
			&-subtitle {
				font-size: 16px;
			}
		}
	}
}